/* static/style.css */

/* Styles de base */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Container principal */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* Titre principal */
h1 {
    color: #333;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

/* Informations de la classe */
.class-info {
    margin: 20px 0;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Liste des étudiants */
.student-list {
    margin-top: 20px;
}

.student-list h2 {
    color: #333;
    text-align: left;
}

.etudiant {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.etudiant img {
    width: 25px;
    height: 39px;
    margin-right: 15px;
}

.etudiant span {
    font-size: 16px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* static/style.css */

.view-message.pair {
    background-color: #d4edda;
    color: #14ba67;
    padding: 20px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    text-align: center;
}

.view-message.impair {
    background-color: #f8d7da;
    color: #b32424;
    padding: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    text-align: center;
}

.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}