<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Informations Utilisateur</title>
    <link rel="stylesheet" href="/static/style_form.css">
</head>
<body>
    <div class="container">
        <h2>Informations Utilisateur</h2>
        <div class="user-info">
            <p><strong>Nom:</strong> {{.Nom}}</p>
            <p><strong>Prénom:</strong> {{.Prenom}}</p>
            <p><strong>Date de Naissance:</strong> {{.DateNaissance}}</p>
            <p><strong>Sexe:</strong> {{.Sexe}}</p>
        </div>
    </div>
</body>
</html>
